@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #f6fff9;
}
.gradd{
 background: linear-gradient(to bottom, rgba(255, 255, 255, 0.594), rgba(255, 255, 255, 0.15));;
 backdrop-filter: blur(8px);
}

.vid-box {
    
    border-radius: 18px;
    overflow: hidden;
  }
  
  .image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px; /* Adjust the gap between images */
    padding: 16px;
  }

  